.idea
node_modules
tmp
*.code-workspace

linkchecker-out.txt

.DS_Store
.mintlify-last
.cursor
.claude
.agent
.envrc
.agents/
.commandcode/
.prettierrc
.codex
.conductor
.context
.cspell.json

agno
projects
specs

agno-docs-style/styles/alex
agno-docs-style/styles/write-good
agno-docs-style/styles/Google
agno-docs-style/styles/Readability
